@font-face {
	font-family: main;
	src: url(../Fonts/Delius.ttf)
	}
body {
	font-family: main, sans-serif;
	background-image: linear-gradient(#070707 ,#212121);
	color: white
}
@font-face {
	font-family: dtm;
	src: url(../Fonts/DTM-Mono.otf)
	}
.pu {
	background-color: white;
	border-style: inset;
border-width: 5px;
border-color: red;
display: inline-block;
width: 150px;
min-height: 10px;
border-radius: 20px;
box-shadow: 5px 5px 5px black
	}